.main_page{
  max-width:825px;
  width:100%;
}
.main_page__cards{
  margin-top:32px;
}
.main_page__error{
  font-weight:700;
  font-size:32px;
  line-height:1.25;
  color:#A7A7A7;
  height:100%;
  display:flex;
  padding-top:24%;
  justify-content:center;
}
@media only screen and (max-width:800px) {
  .main_page__cards{
    margin-top:24px;
  }
}
@media only screen and (max-width:672px) {
  .main_page__cards{
    display:flex;
    justify-content:center;
  }
}
@media only screen and (max-width:420px) {
  .main_page__cards{
    margin-top:19px;
  }
  .main_page{
    padding-bottom:38px;
  }
  .main_page__error{
    font-size:18px;
    line-height:1.55;
    margin-top:137px;
  }
}