.form{
  max-width:528px;
  width:100%;
  padding:48px 56px;
  background:#fff;
  border-radius:16px;
}
.input__box{
  margin-top:36px;
}
.input__box:first-child{
  margin-top:0;
}
.auth_error{
  color:#F42C4F;
}
.auth_error__box{
  margin-top:20px;
  padding:0 12px;
  font-weight:500;
  font-size:12px;
  line-height:16px;
  letter-spacing:0.2px;
}
.auth__fogot_link__box{
  margin-top:20px;
}
.auth__fogot_link{
  font-weight:500;
  font-size:12px;
  line-height:16px;
  letter-spacing:0.2px;
  color:#A7A7A7;
  padding:0 12px;
}
@media only screen and (max-width:600px) {
  .form{
    padding:24px 16px;
  }
}