.form_el__title{
  font-weight:700;
  font-size:24px;
  line-height:30px;
}
.form_el__steps{
  font-weight:600;
}
.form_el__childrens{
  margin:32px 0 48px;
}
.form_el__btn{
  height:52px;
  width:100%;
  border-radius:30px;
  font-size:16px;
}
.form_el__bottom{
  margin-top:16px;
  font-size:16px;
  line-height:24px;
}
.form_el__text{
  color:#727272;
}
.form_el__link{
  font-weight:600;
  font-size:12px;
  line-height:18px;
  letter-spacing:0.2px;
  text-transform:uppercase;
  margin-left:16px;
}